{% extends 'base.html' %} {% load i18n static %} {% load mptt_tags %} {% block content %}

<section class="blog-detail">
  <div class="container">
    <div class="blog-detail__body">
      <div class="blog-detail__card d-sm-flex gap-5 mb-5">
        <div class="blog-detail__img-block col-sm-5 bg-black">
          <img class="blog-detail__img" src="" alt="blog image" />
        </div>
        <div class="blog-detail__card-content col-sm-7">
          <h2 class="blog-detail__title">Lorem ipsum dolor sit amet.</h2>
          <p class="blog-detail__subject">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            quibusdam mollitia voluptatum nemo praesentium adipisci optio quia
            magnam, laboriosam temporibus alias tenetur nobis explicabo fugiat
            vitae. Ullam repudiandae sit nihil mollitia ab ducimus iste
            consectetur sequi libero. Quaerat fugiat incidunt odio harum hic.
            Aut nulla quibusdam sit. Sunt, consequatur at.
          </p>
        </div>
      </div>
      <p class="blog-detail__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aut
        deleniti a voluptatibus! Quas unde commodi sapiente, veniam sit amet
        saepe? Velit quibusdam modi pariatur minima ex natus eius. Hic similique
        error repudiandae maxime id cum exercitationem quasi odio fugit alias
        officia magnam eos ipsum excepturi sint, reiciendis commodi nostrum
        expedita sit adipisci cumque corporis veritatis, iste nemo. Nemo
        voluptatum corrupti non optio labore! Aliquid saepe reiciendis
        doloremque et labore aliquam minus, exercitationem repellat iusto in.
        Architecto a, quibusdam aut quam omnis, minima illo vero vel enim,
        consequatur aperiam accusamus nam ea fugit totam qui atque eius harum
        pariatur ducimus nesciunt. Pariatur cumque nostrum earum deleniti
        dolorem tempora ab consectetur commodi dolore! Dolorem quis fugiat
        quibusdam architecto mollitia corporis illum ex debitis culpa optio
        delectus illo maxime nihil asperiores blanditiis tempore minus
        doloremque consequatur obcaecati saepe inventore, fugit dignissimos!
        Assumenda labore blanditiis, dolores mollitia ipsa sunt id qui
        veritatis! Eius at sed cum facere et nobis sequi praesentium ratione
        consequuntur aperiam nulla nemo ullam, inventore aut enim deleniti
        excepturi consequatur unde dicta maiores, blanditiis placeat? Ducimus
        sapiente nostrum architecto repudiandae exercitationem, aliquid
        doloremque! Mollitia blanditiis minima possimus hic? Quo et aut id,
        magnam doloribus est amet saepe assumenda mollitia provident dolorum
        obcaecati laboriosam consequuntur soluta quod esse expedita eaque cumque
        laudantium quibusdam. Culpa, eius. Fuga amet sint ducimus odio enim
        quaerat eaque nisi. Itaque, hic! Qui autem culpa quam nihil, repellat
        labore. Ipsa recusandae officia fugiat, cupiditate commodi cumque. Illo
        reprehenderit architecto repudiandae fuga esse. Dolorum molestiae
        nesciunt totam quis excepturi voluptatibus odio autem dolores cumque
        officiis, repudiandae odit, ipsum, nobis hic in consequatur consequuntur
        iste amet! Consequatur perspiciatis quibusdam quod? Fugit magni aperiam
        nesciunt facilis accusantium, explicabo aspernatur unde voluptate.
        Pariatur necessitatibus debitis id corporis eaque cumque possimus quos,
        voluptatem sapiente accusantium iusto, assumenda libero, velit harum
        quaerat ratione culpa mollitia molestiae iure perspiciatis saepe
        voluptatum? Vero labore autem recusandae quia explicabo, harum veritatis
        quod repudiandae debitis qui quo soluta odio quidem cupiditate
        dignissimos repellendus nulla maxime ipsa! Cum eius animi esse
        voluptatum aperiam quas cupiditate eum sunt quos? Esse minus ea quod,
        inventore similique minima laboriosam odit quos quibusdam? Eum mollitia
        blanditiis maiores cum in sed voluptas, eaque reprehenderit rem
        architecto quibusdam, neque repellendus ratione magnam molestias nisi
        consectetur ipsam quasi optio numquam repudiandae. Amet ipsam nostrum
        quia esse laborum nesciunt a autem ab quo commodi reprehenderit natus
        porro quam facilis magnam dicta iusto assumenda, tempora adipisci quae
        repellat corrupti deleniti optio quisquam! Non quis explicabo optio fuga
        pariatur quae quia magni reprehenderit quos molestiae eius fugiat
        praesentium harum, assumenda porro recusandae soluta mollitia maxime ut
        odit nam ipsum hic illum similique. Nulla laudantium qui optio veritatis
        est itaque quidem provident excepturi temporibus? Magnam aspernatur odio
        laboriosam esse alias quo totam dolores id exercitationem. Voluptatibus
        quaerat illum aliquam illo ipsum ratione quibusdam at quam, adipisci cum
        laborum, explicabo voluptatem sint dolorem repellendus in similique
        distinctio iste rem minus quae omnis architecto. Totam, odit velit qui
        temporibus rerum dolor blanditiis ea dolorem a veniam unde molestiae
        voluptatum nemo voluptates similique expedita ab sed aliquid, vel ipsum?
        Praesentium reiciendis hic blanditiis cumque, assumenda quos voluptatum.
        Molestias fugit totam, qui molestiae ducimus rerum aliquam incidunt
        cupiditate. Numquam voluptatem necessitatibus asperiores, nesciunt ut
        quam temporibus? Velit dolorem voluptatibus itaque tenetur magni cumque
        ab ullam dicta, quidem veniam. Saepe ratione fuga explicabo corporis,
        quidem dolorum doloremque! Repellat ut omnis illo ullam consequatur quod
        eum quasi quidem. Aut harum repellendus, deleniti earum, exercitationem
        pariatur impedit, placeat necessitatibus ducimus consequuntur autem
        magni asperiores molestias minima! Aperiam similique culpa numquam
        veritatis dicta, beatae eaque? Ducimus consequatur optio, officia dicta
        quo neque perspiciatis! Ratione, tenetur ab illum deleniti, repellat
        ipsa labore omnis impedit, quasi nihil fugit ducimus? Sit vel itaque
        aliquam sunt impedit. Ex, amet quas atque aliquid dignissimos voluptatem
        cupiditate at nisi enim, autem iusto, veritatis rerum error magni natus
        non alias? Nisi quod blanditiis inventore nam optio deserunt eos
        aspernatur, maiores temporibus esse aperiam unde voluptatum natus minus
        excepturi, laudantium ipsam quidem necessitatibus officiis totam. Eius
        maxime ducimus ex possimus dolor non vero! Reprehenderit asperiores
        nihil odit iste magni quia laborum illum sequi deleniti quas distinctio
        blanditiis, consequuntur temporibus, quam consequatur illo doloremque
        alias voluptatibus natus odio unde. Quis molestiae consectetur,
        provident, nostrum ipsa quos deleniti atque quasi iure, error veritatis
        harum nemo modi vero voluptatum soluta ab blanditiis minima similique?
        Corrupti, minima fugiat. Fugit, ducimus et nihil rerum beatae, hic
        molestias illo rem possimus sint accusantium, at nam ad? Nihil
        voluptatum aspernatur dicta velit est, quam doloremque fugiat placeat
        laudantium officiis nam perferendis exercitationem ipsa quibusdam
        quisquam quod repellat nobis iure id sint delectus quidem saepe! Nisi
        quasi, culpa tenetur laboriosam error recusandae ratione nobis pariatur
        ipsa libero facilis quisquam, eaque ea ullam. Necessitatibus molestiae,
        iure velit sit suscipit repellendus nisi labore rem aspernatur porro
        quas blanditiis nostrum in, et aliquam. Repellat laborum quas distinctio
        repudiandae ab magnam enim temporibus quis totam labore iusto sint,
        praesentium ea debitis aliquid laboriosam dolore sunt tempore nesciunt
        voluptates eum aliquam? Neque inventore pariatur molestias consequuntur
        commodi? Officia corporis ea saepe alias! Nemo nobis, mollitia
        perferendis maxime sapiente dolor facere quibusdam laboriosam ea sunt
        atque magni magnam cupiditate eum. Vel repellat a totam doloremque
        aperiam ipsam! Excepturi aspernatur ducimus molestias harum tempore sunt
        a quidem voluptatum, cumque impedit laudantium placeat adipisci
        quibusdam voluptas voluptatibus alias nesciunt, quia ipsum ut
        reprehenderit dolores totam velit. Eos ipsa aperiam, sit eius atque
        expedita. Accusamus, magni. Illo facere tempora cum iure delectus eius
        at. Praesentium, ipsum sequi? Placeat eos, recusandae tempore velit
        maxime consequatur unde. Iure ex perferendis deleniti rem, culpa
        consequatur nam vero nobis, eveniet repudiandae atque dignissimos magnam
        assumenda sequi quod. Consectetur vitae ipsam eos totam maiores ipsa
        distinctio corporis sint iure quisquam! Aliquam ex inventore dolores
        numquam, veniam ducimus recusandae earum unde deserunt non quas delectus
        a nesciunt, odio fugit doloremque laboriosam quisquam? Labore possimus
        ullam a obcaecati, pariatur, tenetur quae, assumenda accusamus inventore
        eligendi omnis voluptatum facere eum quo modi fuga veritatis animi
        voluptate excepturi! Ipsa accusantium incidunt ex laborum consequuntur!
        Recusandae, sint magnam vitae voluptatibus totam in?
      </p>
    </div>
  </div>
</section>

{% endblock %}
