{% extends 'base.html' %} {% load i18n static %} {% load mptt_tags %} {% block content %}

<div class="blog">
  <div class="container">
    <div class="blog__body">
      <div class="blog__card">
        <div class="block__card-img-block">
          <img
            class="blog__card-img"
            src="https://img.freepik.com/premium-photo/look-up-pine-trees-sky-winter-landscape-nature-background-low-angle-view-high-quality-photo_516328-134.jpg?w=2000"
            alt=""
          />
        </div>
        <div class="blog__card-content">
          <h2 class="blog__card-title">Lorem ipsum dolor sit.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet at
            provident nesciunt reiciendis officia nostrum qui adipisci eum
            aspernatur, quo voluptas perferendis expedita laudantium assumenda
            perspiciatis debitis earum laboriosam officiis cum, sunt dolorum
            dolore
          </p>
        </div>
      </div>
      <div class="blog__card">
        <div class="block__card-img-block">
          <img
            class="blog__card-img"
            src="https://img.freepik.com/premium-photo/look-up-pine-trees-sky-winter-landscape-nature-background-low-angle-view-high-quality-photo_516328-134.jpg?w=2000"
            alt=""
          />
        </div>
        <div class="blog__card-content">
          <h2 class="blog__card-title">Lorem ipsum dolor sit.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet at
            provident nesciunt reiciendis officia nostrum qui adipisci eum
            aspernatur, quo voluptas perferendis expedita laudantium assumenda
            perspiciatis debitis earum laboriosam officiis cum, sunt dolorum
            dolore
          </p>
        </div>
      </div>
      <div class="blog__card">
        <div class="block__card-img-block">
          <img
            class="blog__card-img"
            src="https://img.freepik.com/premium-photo/look-up-pine-trees-sky-winter-landscape-nature-background-low-angle-view-high-quality-photo_516328-134.jpg?w=2000"
            alt=""
          />
        </div>
        <div class="blog__card-content">
          <h2 class="blog__card-title">Lorem ipsum dolor sit.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet at
            provident nesciunt reiciendis officia nostrum qui adipisci eum
            aspernatur, quo voluptas perferendis expedita laudantium assumenda
            perspiciatis debitis earum laboriosam officiis cum, sunt dolorum
            dolore
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
