{% extends 'base.html' %} {% load i18n static %} {% load mptt_tags %} {% block content %}

<section class="blog-detail">
  <div class="container">
    <div class="blog-detail__body">
      <div class="blog-detail__card d-sm-flex gap-5 mb-5">
        <div class="blog-detail__img-block col-sm-5 bg-black">
          <img class="blog-detail__img" src="{{ blog_d.image.url }}" alt="blog image" />
        </div>
        <div class="blog-detail__card-content col-sm-7">
          <h2 class="blog-detail__title">{{ blog_d.title }}.</h2>
          <p class="blog-detail__subject">{{ blog_d.subject }}</p>
        </div>
      </div>
      <p class="blog-detail__desc">{{ blog_d.description }}</p>
    </div>
  </div>
</section>

{% endblock %}
