<section class="news-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="tab-content-wrapper">
                        <div class="row">
                            <div class="col-lg-6 col-6 pd-tender">
                                <h2>Тендер</h2>
                                <div class="tender-box">

                                    <div class="post-date">
                                        <i class="fal fa-calendar-alt"></i>
                                        <a href="#">17 Nov 2022</a>
                                    </div>
                                    <div class="single-data">
                                        <p>Заявок <i class="fal fa-file-signature"></i>:</p>
                                        
                                        <h6>3</h6>
                                    </div>
                                    <div class="single-data">
                                        <p>Просмотров <i class="fal fa-eye"></i>:</p>
                                        
                                        <h6>848</h6>
                                    </div>

                                </div>
                                
                                <p>Our promise as a contractor is to build community value into every project while delivering professional expertise, exceptional customers service and quality construction.</p>
                                <div class="data-flex">
                                    <div class="single-data">
                                        <p>Срок до:</p>
                                        
                                        <div class="post-date">
                                            <i class="fal fa-calendar-alt"></i>
                                            <a href="#">17 Март 2022</a>
                                            <span><i class="fal fa-clock"></i>17:00</span>
                                        </div>
                                    </div>
                                    <a class="tender-link" href="tender-details.html">Подробнее.. <i class="fas fa-long-arrow-right"></i></a>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-6 col-6 pd-tender">
                                <h2>Тендер</h2>
                                <div class="tender-box">

                                    <div class="post-date">
                                        <i class="fal fa-calendar-alt"></i>
                                        <a href="#">17 Nov 2022</a>
                                    </div>
                                    <div class="single-data">
                                        <p>Заявок <i class="fal fa-file-signature"></i>:</p>
                                        
                                        <h6>3</h6>
                                    </div>
                                    <div class="single-data">
                                        <p>Просмотров <i class="fal fa-eye"></i>:</p>
                                        
                                        <h6>848</h6>
                                    </div>

                                </div>
                                
                                <p>Our promise as a contractor is to build community value into every project while delivering professional expertise, exceptional customers service and quality construction.</p>
                                <div class="data-flex">
                                    <div class="single-data">
                                        <p>Срок до:</p>
                                        
                                        <div class="post-date">
                                            <i class="fal fa-calendar-alt"></i>
                                            <a href="#">17 Март 2022</a>
                                            <span><i class="fal fa-clock"></i>17:00</span>
                                        </div>
                                    </div>
                                    <a class="tender-link" href="tender-details.html">Подробнее.. <i class="fas fa-long-arrow-right"></i></a>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-6 col-6 pd-tender">
                                <h2>Тендер</h2>
                                <div class="tender-box">

                                    <div class="post-date">
                                        <i class="fal fa-calendar-alt"></i>
                                        <a href="#">17 Nov 2022</a>
                                    </div>
                                    <div class="single-data">
                                        <p>Заявок <i class="fal fa-file-signature"></i>:</p>
                                        
                                        <h6>3</h6>
                                    </div>
                                    <div class="single-data">
                                        <p>Просмотров <i class="fal fa-eye"></i>:</p>
                                        
                                        <h6>848</h6>
                                    </div>

                                </div>
                                
                                <p>Our promise as a contractor is to build community value into every project while delivering professional expertise, exceptional customers service and quality construction.</p>
                                <div class="data-flex">
                                    <div class="single-data">
                                        <p>Срок до:</p>
                                        
                                        <div class="post-date">
                                            <i class="fal fa-calendar-alt"></i>
                                            <a href="#">17 Март 2022</a>
                                            <span><i class="fal fa-clock"></i>17:00</span>
                                        </div>
                                    </div>
                                    <a class="tender-link" href="tender-details.html">Подробнее.. <i class="fas fa-long-arrow-right"></i></a>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
    </section>
