{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
    {% for i in settings %}

    <div class="page-banner-wrap bg-cover" style="background: linear-gradient(40deg, rgb(0 0 0 / 49%), rgb(34 101 163 / 0%)), url('{{ i.thumbnail.url }}'); background-size:cover !important; ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="page-heading text-white">
                        <h1>{% trans 'Новые Разработки' %}</h1>
                    </div>
                    <div class="breadcrumb-wrap">
                        <nav>
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
                              <li class="breadcrumb-item active" aria-current="page">{% trans 'Новые Разработки' %}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
   <section class="our-service-wrapper section-padding bg-gray">
        <div class="container">
            <div class="row mtm-40">
                {% for item in projects %}
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="single-service-card">
                        <div class="service-cover-img bg-cover" style="background-image: url('{{ item.image.url }}')"></div>
                        <div class="content">
                            <div class="icon-title">
                                <div class="icon">
                                    <i class="flaticon-construction-site"></i>
                                </div>
                                <div class="service-title">
                                    <h4><a href="{{ item.get_url }}">{{ item.title }}</a></h4>
                                </div>
                            </div>
                            <p>{{ item.description|truncatechars:100|safe }}</p>
                            <a href="{{ item.get_url }}" class="read-more">Подробнее.. <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

   
