{% load i18n static %} {% load reverse_lang %} {% load current_lang %} {% load mptt_tags %}
<header class="header-wrap header-1">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <div class="logo logo-inner">
      <a href="{% url 'home' %}">
        <img src="{% static 'assets/img/logo/Эмблема.png' %}" alt="logo" />
      </a>
      <a class="offset-menu-logo-text" href="{% url 'home' %}">
        <p class="logo-text-first">{% trans 'АО "УЗКИМЁСАНОАТЛОЙИХА"' %}</p>
        <p class="logo-text-second">{% trans 'Акционерное обшество' %}</p>
      </a>
    </div>
    <div class="header-right-area d-flex">
      <div class="main-menu d-none d-xl-block">
        <ul>
          {% recursetree nav %}
          <li>
            <a
              href="../../../{% current_lang request %}/{{ node.slug }}?cat_name={{ node.slug }}"
              >{{ node.name }}</a
            >
            {% if not node.is_leaf_node %}
            <ul class="sub-menu">
              <li>{{ children }}</li>
            </ul>
            {% endif %}
          </li>
          {% endrecursetree %}
          <li>
            <a href="#" class="search-btn"><i class="fas fa-search"></i></a>
            <div class="search-box">
              <form action="{% url 'project_search' %}">
                <input
                  type="text"
                  placeholder="Search"
                  name="keyword"
                  required
                />
                <button type="submit"><i class="fal fa-search"></i></button>
              </form>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="header-right-elements d-flex align-items-center justify-content-between"
      >
        <div class="header-elements-lang">
          <a
            class="{% if request.LANGUAGE_CODE == 'uz' %}lang-active{% endif %}"
            href="{% reverse_lang request 'uz' %}"
            >{% trans 'Узб' %}</a
          >
          <a
            class="{% if request.LANGUAGE_CODE == 'ru' %}lang-active{% endif %}"
            href="{% reverse_lang request 'ru' %}"
            >{% trans 'Рус' %}</a
          >
          <a
            class="{% if request.LANGUAGE_CODE == 'en' %}lang-active{% endif %}"
            href="{% reverse_lang request 'en' %}"
            >{% trans 'Инг' %}</a
          >
        </div>
        <a href="#" class="side-menu-toggle d-none d-xl-block"
          ><i class="fal fa-bars"></i
        ></a>
        <div class="d-inline-block ms-4 d-xl-none">
          <div class="mobile-nav-wrap">
            <div id="hamburger">
              <i class="fal fa-bars"></i>
            </div>
            <!-- mobile menu - responsive menu  -->
            <div class="mobile-nav">
              <button type="button" class="close-nav">
                <i class="fal fa-times-circle"></i>
              </button>
              <div class="header-elements-lang d-block">
                <a
                  class="{% if request.LANGUAGE_CODE == 'uz' %}lang-active{% endif %}"
                  href="{% reverse_lang request 'uz' %}"
                  >{% trans 'Узб' %}</a
                >
                <a
                  class="{% if request.LANGUAGE_CODE == 'ru' %}lang-active{% endif %}"
                  href="{% reverse_lang request 'ru' %}"
                  >{% trans 'Рус' %}</a
                >
                <a
                  class="{% if request.LANGUAGE_CODE == 'en' %}lang-active{% endif %}"
                  href="{% reverse_lang request 'en' %}"
                  >{% trans 'Инг' %}</a
                >
              </div>
              <nav class="sidebar-nav">
                <ul class="metismenu" id="mobile-menu">
                  {% recursetree nav %}
                  <li>
                    <a href="../../../{{ node.slug }}">{{ node.name }}</a>
                  </li>
                  {% endrecursetree %}
                </ul>
              </nav>

              <div class="action-bar">
                <a href="office@himproekt.uz"
                  ><i class="fal fa-envelope"></i>office@himproekt.uz</a
                >
                <a href="tel:+998 70 716-43-36"
                  ><i class="fal fa-phone"></i>+998 (70) 716-43-36</a
                >
                <a href="contact.html" class="d-btn theme-btn">Позвонить</a>
              </div>
            </div>
          </div>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </div>
</header>
