{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <section class="blog-wrapper news-wrapper section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="blog-posts">
                        <div class="single-blog-post">

                            <div class="post-content-tender">

                                <div class=" thanks-block">
                                    <h2>{% trans 'Письмо отправлено! ' %}</h2>
                                            <div class="thanks-icon"><i class="fas fa-check-square"></i></div>
                                    <a href="{% url 'home' %}" style="text-align: center">{% trans 'На главную' %}</a>
                                </div>


                            </div>
                        </div>

                    </div>
                    </div>

            </div>
        </div>
    </section>
{% endblock %}