.blog__card {
    display: flex;
    gap: 20px;
}

.block__card-img-block {
    display: flex;
    max-width: 500px;
}

.blog__card-img {
    width: 100%;
}

.blog__card:not(:last-child) {
    margin-bottom: 40px;
}